/* body{
    background-color: red;
} */

aside{
    height: 100%;
    width: 250px;
    color: lightgray;
    background-color: black;
    flex-shrink: 0;
}

a{
    text-decoration: none;
}

aside a,
aside span{
    color: #686b70;
}

#plus{
    font-size: 2rem;
    width: 40px;
    height: 40px;
    text-align: center;
    color: black;
    background-color: #a3a3a3;
    margin-right: 10px;
}

aside li, .creat-playlist{
    padding: 10px 0;
}

.directions{
    padding-bottom: 20px;
    flex-shrink: 0;
}

.playlist ul li 
{
    padding: 15px 20px;
}

.directions div{
    border-left:solid 3px black;

}

.directions div i{
    width: 24px;
}

.directions #active-direction{
    border-left:solid 3px greenyellow;
}

.directions #active-direction i,
.directions #active-direction span{
    color: white;
}

svg{
    margin-right: 10px;
}


.creat-playlist,
.playlist h3,
.directions div {
    padding: 5px 20px;
    display: flex;
    align-items: center;
}



.logo{
    padding: 20px 10px;
}

.logo img{
    width: 150px;
}

nav{
    display: flex;
    flex-direction: column;
    height: calc(100% - 98px );
}


.profile{
    padding: 0 20px;
}

.profile hr {
    margin: 15px 0;
}

.directions{
    min-height: 70px;
}


.playlist{
    flex-grow: 1;
    min-height: 50px;
    overflow: auto;
}


.profile-id,
.install-app{
    
    display: flex;
    align-items: center;
}

.install-app{
    font-size: 0.8rem;
}



.profile-img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #808080;
    margin-right: 10px;
}

.section-title{
    padding: 20px 0;
}