/* body{
    background-color: red;
} */

footer{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: #282828;
}
.current-song{
    width: 230px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.song-title{
    display: flex;
    align-items: center;
}

.current-song img{
    width: 60px;
    height: 60px;
    background-color: #282828;
    margin: 10px;
}

.current-song .artist{
    color: white;
}

footer .current-song .icons i{
    color: #585858;
}

footer .current-song .icons i:hover{
    color: white;
    cursor: pointer;
}

footer i:hover{
    scale: 1.2;
    cursor: pointer;
}


.lisening{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.played-screen{
    width: 60%;
    display: inline-block;
    background-color: #585858;
    width: 50%;
    height: 5px;
    border-radius: 5px;
    margin: 0 2%;
    cursor: pointer;
    
}



.effective.played{
    width: 2%;
    position: relative;

}



.played-screen:hover #active-played-green{
    background-color: greenyellow;
    border-radius: 5px;
    height: 100%;
}

.played-screen:hover #active-played-drag-point{
    background-color: white;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    position: absolute;
    left: 100%;
    bottom: 50%;
    transform: translate(-25%, 50%);
    cursor: grab;
}

.play-tools,
.play-infos{
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-tools{
    padding: 10px;
}

.play-tools i{
    margin: 0 10px;
    cursor: pointer;
}
.fa-circle-play{
    font-size: 30px;
}


.play-infos{
    font-size: 10px;
}










.spotify-tools{
    width: 230px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 13px;
}

.sound-volume{
    background-color: #585858;
    width: 50%;
    height: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.effective{
    height: 100%;
    width: 20%;
    background-color: #c1c1c1;
    border-radius: 5px;
    position: relative;
}
.sound-volume:hover #sound-volume-green{
    background-color: greenyellow;
    border-radius: 5px;
    height: 100%;
}

.sound-volume:hover #sound-volume-drag-point{
    background-color: white;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    position: absolute;
    left: 100%;
    bottom: 50%;
    transform: translate(-25%, 50%);
    cursor: grab;
}