

@media (max-width:1200px) {

    .song{
    width: calc(100% / 4);

    }
    
}

@media (max-width:900px) {

    .song{
    width: calc(100% / 2);

    }
    section ul{
        flex-wrap: wrap;
    }
    
}

@media (max-width:650px) {

    .upgrade{
        justify-content: center;
    }

    aside .directions .logo-small{
        display: inline-block;
        padding: 0 8px;
    }

    .logo{
        display: none;
    }
    aside{
        width: 50px;
        justify-content: space-between;
    }
    
    aside .playlist,
    hr,
    aside span,
    h4{
        display: none;
    }

    nav{
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow-x: hidden;
    }
    .install-app{
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 60px;
        padding-right: 14px
    }
    .profile{
        height: 100px;
        justify-content: auto;
    }

    .directions div,
    .directions #active-direction
    {
        margin: 0 auto;
        border: none;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .directions div{
        margin: 10px 0;
    }


    .profile{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 0 10px 0;
        border: none;
        padding-right: 10px;
    }

    .upgrade{
        width: calc(100% - 50px);
    }
    section ul{
        flex-wrap: wrap;
    }
    .song-title{
        margin-right: 5px;
        padding: 5px;
    }
    .current-song{
        min-width: 130px;
        width: 20%;
        margin-right: 5px;
        flex-shrink: 0;
    }
    .current-song img{
        width: 70%;
        height: 70%;
    }

    .spotify-tools{
        min-width: 120px;
    }
}

@media (max-width:458px){
    /* MAIN  */
    .upgrade{
        justify-content: center;
    }
    .button{
        font-size: 16px;
        text-align: center;
        padding: 10px;
    }

   
    
    /* FOOTER  */
    footer .current-song .song-title-name,
    footer .current-song .icons,
    .sound-volume,
    footer .spotify-tools .fa-display,
    footer .spotify-tools .fa-list{
        display: none;
    }


    .current-song{
        min-width: auto;
    }

    .lisening{
        min-width: 50%;
    }


    footer .spotify-tools{
        min-width: auto;
        flex-direction: column;
        justify-content: center;
    }
    
}

@media (max-width:268px){
    aside,
    .upgrade{
        display: none;
    }
    section{
        text-align: center;
    }
    section h1{
        padding: 0 4px;
    }
    .current-song,
    .spotify-tools{
        display: none;
    }

    .song{
        width: calc(100% / 1);

    }
    section ul{
        margin-top: 20px;
        flex-direction: column;
        align-items: center;

    }

}

@media (max-height:177px) {
    .upgrade{
        display: none;
    }

    
}