section{
    width: calc(100% - 200px);
    height: 100%;
}

.upgrade{
    height: 80px;
    width: calc(100% - 200px);
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
